* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* body {
    font-family: 'Roboto', sans-serif;
} */

/* navigation */
nav {
  background-color: #f2f2f2;
  text-align: right;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline-block;
}

nav ul li a {
  display: block;
  padding: 10px 20px;
  text-decoration: none;
  color: #333;
}

nav ul li a:hover {
  background-color: #ddd;
}
/* logo */
.logo {
    width: 50%;
    margin-top: 5px;
    margin-bottom: 5px;
    
}
.logo img {
    width: 75px;
    height: 31px;
    border-radius: 5px;
    float: left;
    margin-left: 10px;
}


