* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
}

/* navigation */
nav {
  background-color: #2f4858;
  text-align: right;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline-block;
}

nav ul li a {
  display: block;
  padding: 10px 20px;
  text-decoration: none;
  color: #fffae1;
}

nav ul li a:hover {
  background-color: #ddd;
}
/* logo */
.logo {
  width: 50%;
  margin-top: 5px;
  margin-bottom: 5px;
}
.logo img {
  width: 75px;
  height: 31px;
  border-radius: 5px;
  float: left;
  margin-left: 10px;
}

/* accueil */
.hero {
  width: 100%;
  height: 500px;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url(/img/image-accueil.jpg);
  background-size: cover;
  background-position: center;
}
.hero h1 {
  font-size: min(47px, 6vw);
  text-align: center;
  color: #fffae1;
  margin-bottom: 40px;
  padding-top: 60px;
}
.hero p {
  font-size: min(33px, 4vw);
  text-align: center;
  color: #fffae1;
  margin-top: 20px;
  width: auto;
  padding-top: 40px;
}

/* page dépannage cards */
.section-center {
  display: flex;
  justify-content: space-around;
  gap: 20px;
  width: 90vw;
  margin: 0 auto;
}
.service-card {
  margin: 2rem 0;
  border-radius: 0.5rem;
  background: #f1f5f8;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s linear;
}
.service-card:hover {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  transform: scale(1.02);
}
.service-info {
  text-align: center;
  padding: 3rem 1rem 2.5rem 1rem;
  color: #343a40;
}
.service-info h4 {
  margin-bottom: 1rem;
  font-size: 1.5rem;
}
.service-info p {
  max-width: 20rem;
  color: #617d98;
  margin: 0 auto;
}

/* dépannage conseil et formation */
.section-title {
  text-align: center;
  margin-top: 4rem;
  padding: 0 1rem;
  color: #ee6c4d;
  font-size: 1.5rem;
  margin-bottom: 20px;
}
.formations {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 10px;
}
.gauche {
  width: 50%;
}
.gauche img {
  height: 80%;
  width: 80%;
}
.descriptions {
  width: 50%;
}
.descriptions h4 {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 10px;
  color: #355070;
}
.descriptions p {
  font-weight: 300;
  letter-spacing: 1px;
  margin-bottom: 30px;
  padding-right: 20px;
  color: #617d98;
}

/* page tarifs */
/* les formules */
.section-title {
  text-align: center;
  margin-top: 4rem;
  padding: 0 1rem;
  color: #ee6c4d;
  font-size: 2rem;
}
.services-title-formule {
  text-align: center;
  margin-top: 1rem;
  padding: 0 1rem;
  color: #343a40;
  font-size: 1.5rem;
}
.services-title-formule h3 {
  color: #355070;
}
.section-center {
  display: flex;
  justify-content: space-around;
  gap: 1rem;
}
.service-card-tarifs {
  margin: 2rem auto;
  border-radius: 0.5rem;
  background: #f1f5f8;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s linear;
  width: 400px;
}
.service-card-one:hover {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  transform: scale(1.02);
}
.service-img-container {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  object-fit: cover;
  height: 160px;
  width: 300px;
}
.service-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.service-info {
  text-align: center;
  padding: 3rem 1rem 2.5rem 1rem;
  color: #343a40;
}
.service-info h4 {
  margin-top: 10px;
  margin-bottom: 20px;
}
.service-info p {
  max-width: 20rem;
  top: auto;
  color: #617d98;
  margin: 0 auto;
  text-align: justify;
}
.service-info h3 {
  bottom: 10px;
}
.price {
  margin-bottom: 1rem;
  color: #ee6c4d;
}

/* les tarifs horaires */
.title {
  margin-bottom: 1rem;
  color: #ee6c4d;
  font-size: 2rem;
  text-align: center;
}
.prest-title {
  color: #355070;
}
.prest-description {
  color: #617d98;
  letter-spacing: 1px;
  font-weight: 300;
}
.mo-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.mo {
  display: flex;
  flex-direction: column;
  width: 80%;
  /* background-color: #f1f5f8; */
  margin-bottom: 2rem;
}

.dep {
  display: flex;
  justify-content: center;
  align-items: center;
}

.prestations {
  width: 70%;
}

.fa-solid {
  zoom: 2;
  padding-right: 2rem;
}
.price-depannage {
  font-size: 2rem;
  padding-left: 3rem;
  color: #ee6c4d;
}
/* footer */
.contact {
  background-color: #14213d;
  color: #fffae1;
  padding: 20px 0 10px 0;
  text-align: center;
}

.infos {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contact-info {
  margin-top: 40px;
  padding-left: 40px;
}
.contact-item {
  margin: 1rem;
  margin-bottom: 1.75rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.contact-title {
  font-weight: 700;
}

.fa-solid {
  font-size: 28px;
  margin: 10px;
}
.contact-item p {
  font-weight: bold;
}
form {
  margin: 0 auto;
  max-width: 900px;
}
input,
textarea,
button {
  border: none;
  width: 55%;
  padding: 15px 10px;
  margin: 1px 0;
  font-size: 1.2em;
  font-family: "Advent pro", sans-serif;
  border-radius: 8px;
}
textarea {
  height: 120px;
}
button {
  font-size: 1.5em;
  background-color: #fffae1;
}
button:hover {
  background-color: #e07a5f;
  color: #fffae1;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}
#deuxiemeTrait {
  height: 1px;
  width: 80%;
  background-color: #fffae1;
  margin: 60px auto;
}

#copyright {
  /* width: 50%;*/
  text-align: center;
  color: #fffae1;
}
